body {
    background-color: beige;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: chocolate;
    text-align: center;
}

header h1 {
    margin: 0px;
}

.Logo {
    width: 50px;
    padding: 15px;
}

.active {
    background-color: bisque;
}

.main-navigation {
    background-color: black;
    display: flex;
    text-align: left;
    /* overflow: hidden; */
    position: -webkit-sticky;
    position: sticky;
    /* top: 0; */
}

.main-navigation a {
    color: chocolate;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

.main-navigation a:hover {
    cursor: pointer;
    background-color: aqua;
    color: yellowgreen;
    font-weight: bold;
}

.dropbtn {
    cursor: pointer;
    border: none;
}

.dropdown {
    position: relative;
    /* display: inline-block; */
}
.dropdown > a::after {
    content: "\25bc";
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
    background-color: aqua;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

/* .dropdown-menu a {
    text-decoration: none;
    display: block;
    color: black;
} */

.dropdown-menu a:hover {
    background-color: aqua;
}

.dropdown:hover .dropdown-menu {
    /* display: block; */
    max-height: 300px;
}
.dropdown:hover .dropbtn {
    background-color: blueviolet;
}

.tea-content {
    margin: 35px;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}